@import "./normalize.css";
@import "./variables.css";

* {
	transition: background var(--std-transition), color var(--std-transition);
	font-family: "JetBrains Mono NL";
}

html {
	background: var(--bg);
	color: var(--cl);
	height: 100%;
	overflow: hidden;
}

button {
	border-radius: 0;
	border: none;
	cursor: pointer;
}

h1, h2, h3, p { margin: 0; padding: 0; }