:root {
  --bg: #212121;
  --highlight: #323031;
  --cl: #fdfdfd;

  --ruby: #ef2f54;
  --accent: #ff9f1c;
  --orange: #ff9f1c;
}

:root.light {
  --bg: #ddd1b6;
  --highlight: #ede7d9;
  --cl: #222222;
  --accent: var(--ruby);
}
