:root {
  --bg: #212121;
  --highlight: #323031;
  --cl: #FDFDFD;

  --ruby: #EF2F54;
  --accent: #FF9F1C;
  --orange: #FF9F1C;
}

:root.light {
  --bg: #DDD1B6;
  --highlight: #EDE7D9;
  --cl: #222222;
  --accent: var(--ruby);
}
