---
import MainHead from "../components/MainHead.astro";
import Header from "../components/Header.vue";
---

<html lang="en">
	<head>
		<MainHead title="LUKA | 404" />
		<style>
			body {
				display: flex;
				flex-flow: column wrap;
				height: 100%;
				justify-content: center;
				align-items: center;
			}

			h1, h2 { padding: 0; margin: 0; }

			h1 {
				padding: 0;
				margin: 0;
				font-size: 8rem;
				text-align: center;
			}

			a {
				font-weight: bold;
				margin-top: 20px;
				font-size: 2rem;
				text-decoration: none;
				color: green;
			}

			a:hover {
				color: darkgreen;
			}
		</style>
	</head>

	<body>
		<Header client:load/>

		<h1>404</h1>
		<h2>We couldn't find this one, sorry!</h2>
		<a href="/">Go back</a>
	</body>
</html>
