---
import MainHead from "../components/MainHead.astro";
import Header from "../components/Header.vue";
---

<html lang="en">
	
	<head>
		<MainHead title="LUKA" description="Description"/>
	</head>

	<body>
		<Header client:visible />
	</body>
</html>
