---
import MainHead from "../components/MainHead.astro";
import Header from "../components/Header.vue";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<MainHead />
		<style>
			body { width: 100%; height: 100%; display: flex; flex-flow: column wrap; align-items: center; }

			.main {
				display: flex;
				flex-flow: column wrap;
				justify-content: center;
				align-items: center;
				box-shadow: var(--shadow);
				background: var(--bg-highlight);
				margin: 1.5rem;
				padding: 1.5rem;
			}

			h1 { margin: 0 0 30px 0 }
			h2 { margin: 0 0 0 0 }

			.accent {
				position: relative;
				color: var(--accent);
				z-index: 99;
				font-weight: bold;
			}

			.accent::before {
				content: "Luka";
				position: absolute;
				color: var(--bg);
				z-index: -1;
				font-size: 2.1rem;
				left: var(--text-shadow-left);
				top: var(--text-shadow-top);
				transition: all var(--std-transition);
			}

			a {
				color: var(--cl);
				text-decoration: solid underline 3px var(--accent);
			}

			a:hover {
				color: var(--accent);
				text-decoration-color: var(--cl);
			}

			.lang { font-weight: 800; }
			.ruby { color: var(--ruby-accent); }
			.js { color: var(--accent) }
			.logo { height: 12px; user-select: none; }
			.ruby img { height: 10px; }

			.subtext { display: flex; flex-flow: column wrap; align-items: center; max-width: 70%; }
			p { font-size: 1.2rem; margin: 10px 0; text-align: center; }

			.contact { font-size: 1.4rem; font-weight: 800; color: var(--accent); background: #191919; padding: 20px }

			/* Media Queries */

			@media screen and (max-width: 1235px) {
    		h2 { font-size: 1.3rem; }

				.subtext { max-width: 100%; width: 100% }
			}

			@media screen and (max-width: 1085px) {
    		h2 { font-size: 1.5rem; text-align: center; }
			}

			@media screen and (max-width: 950px) {
				p { font-size: 1.1rem }
			}

			@media screen and (max-width: 775px) {
				p { font-size: 1rem }
			}

			@media screen and (max-width: 685px) {
				h2 { font-size: 1.3rem }
			}

			@media screen and (max-width: 500px) {
				h1 { font-size: 1.7rem }
				.accent::before { font-size: 1.8rem; }
				h2 { text-align: left; }
			}
		</style>
	</head>

	<body>
		<Header client:load />

		<div class="main">
			<h1>hi there, i'm <span class="accent">Luka</span></h1>
			<h2>i'm a fullstack web developer, currently working at <a href="https://trengo.com" target="_blank">trengo</a> in utrecht</h2>
		</div>
		
		<div class="subtext">
			<p>i love building cool stuff, especially with <span class="ruby lang"><img class="logo" width="10" src="/assets/ruby.svg" aria-hidden="true"> ruby</span> and <span class="js lang"><img class="logo" width="12" src="/assets/js.svg" aria-hidden="true"> javascript</span></p>
			<p>if you'd like to see my professional history, you can get <a href="/assets/resume.pdf" download="Luka's Resume">my resume here</a></p>
			<p>if you're still curious and want to find out more, you can reach me down below at</p>
			<p class="contact">salevic[at]lu-ka.me</p>
		</div>

		<Footer />
	</body>
</html>
