---
import MainHead from "../components/MainHead.astro";
import Header from "../components/Header.vue";
import Activation from "../components/Activation.vue";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <MainHead title="LUKA | Hi Trengo :)"/>
    <style>
      body { height: 100%; display: flex; flex-flow: column wrap; justify-content: center; align-items: center; }

      h1 { margin-top: 15px; }
      h2 { font-size: 1.2rem; margin-top: 10px; }
    </style>
  </head>

  <body>
    <Header trengo={true}/>
    <Activation/>
    <Footer />
  </body>
</html>
