---
import SpinningMonke from "@/components/SpinningMonke.vue";
---

<footer class="mt-auto flex w-full flex-row items-center bg-highlight px-4 py-2 transition-colors">
  <SpinningMonke client:only="vue" />

  <nav class="ml-auto">
    <a
      class="mx-1.5 text-lg font-black underline decoration-accent decoration-3 hover:text-accent hover:decoration-cl"
      href="https://github.com/Sensanaty"
      target="_blank"
      rel="noreferrer">github</a
    >
    <a
      class="mx-1.5 text-lg font-black underline decoration-accent decoration-3 hover:text-accent hover:decoration-cl"
      href="https://linkedin.com/in/lukasalevic"
      target="_blank"
      rel="noreferrer">linkedin</a
    >
  </nav>
</footer>
