---
import SpinningMonke from "@/components/SpinningMonke.vue";
---

<footer class="mt-auto flex flex-row w-full py-2 px-4 items-center bg-highlight transition-colors">
  <SpinningMonke client:only="vue" />

  <nav class="ml-auto">
    <a class="font-black text-lg mx-1.5 decoration-3 underline decoration-accent hover:decoration-cl hover:text-accent" href="https://github.com/Sensanaty" target="_blank" rel="noreferrer">github</a>
    <a class="font-black text-lg mx-1.5 decoration-3 underline decoration-accent hover:decoration-cl hover:text-accent" href="https://linkedin.com/in/lukasalevic" target="_blank" rel="noreferrer">linkedin</a>
  </nav>
</footer>
