---
import ThemeToggle from "@/components/Base/ThemeToggle.vue";
import RouterLink from "@/components/Base/RouterLink.astro";
---

<header class="flex w-full flex-row items-center bg-highlight px-4 py-2 transition-colors sm:py-3">
  <h1 class="basis-1/3 text-lg font-black sm:hidden sm:basis-1/2">Luka Salević</h1>

  <nav class="basis-1/3 text-center sm:basis-1/2 sm:text-start">
    <RouterLink route="/" newTab={false}>home</RouterLink>
    <RouterLink route="/shenanigans" newTab={false}>shenanigans</RouterLink>
  </nav>

  <div class="basis-1/3 text-end sm:basis-1/2">
    <ThemeToggle client:only="vue" />
  </div>
</header>
