---
import { ClientRouter } from "astro:transitions";
import MainHeader from "@/components/MainHeader.astro";
import MainFooter from "@/components/MainFooter.astro";
import "@/assets/css/main.css";

const { title = "LUKA", currentPage = "/"} = Astro.props;
---

<html lang="en" class="bg-neutral-900 text-neutral-50 font-mono" style="scrollbar-gutter: stable;">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>

  <meta name="title" content="LUKA SALEVIĆ">
  <meta name="description" content="Lover of Ruby & Rails, Vue, and all manners of shenanigans involving technology">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://lu-ka.me">
  <meta property="og:title" content="LUKA SALEVIĆ">
  <meta property="og:description" content="Lover of Ruby & Rails, Vue, and all manners of shenanigans involving technology">
  <meta property="og:image" content="/banner.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://lu-ka.me">
  <meta property="twitter:title" content="LUKA SALEVIĆ">
  <meta property="twitter:description" content="Lover of Ruby & Rails, Vue, and all manners of shenanigans involving technology">
  <meta property="twitter:image" content="/banner.png">

  <ClientRouter />
</head>

<body class="flex flex-col min-h-screen">
  <MainHeader currentPage={currentPage} />

  <main class="flex-grow py-5 px-4">
    <slot />
  </main>

  <MainFooter transition:persist/>
  </body>
</html>
