---
import { ViewTransitions } from "astro:transitions";
import MainHeader from "../components/MainHeader.astro";
import MainFooter from "../components/MainFooter.astro";
import "../assets/css/main.css";

const { title = "LUKA", currentPage = "/"} = Astro.props;
---

<html lang="en" class="bg-neutral-900 text-neutral-50 font-mono" style="scrollbar-gutter: stable;">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>

  <ViewTransitions />
</head>

<body class="flex flex-col min-h-screen">
<MainHeader currentPage={currentPage} />

<main class="flex-grow py-1.5 px-3">
  <slot />
</main>

<MainFooter transition:persist/>
</body>
</html>
